[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = bjitContainer
[access "refs/*"]
	owner = group user/shamimHrazu
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/shamimHrazu
	label-Verified = -1..+1 group user/shamimHrazu
	push = group user/shamimHrazu
	read = group user/shamimHrazu
	rebase = group user/shamimHrazu
	removeReviewer = group user/shamimHrazu
	submit = group user/shamimHrazu
[access "refs/heads/*"]
	create = group user/shamimHrazu
	push = +force group user/shamimHrazu
	pushMerge = group user/shamimHrazu
	read = group user/shamimHrazu
[access "refs/tags/*"]
	push = group user/shamimHrazu
	push = +force group user/shamimHrazu
